import { Module } from '@nestjs/common'
import { $!{PASCAL_PLURAL}Service } from '@src/modules/$!{KEBAB_PLURAL}/$!{KEBAB_PLURAL}.service'
import { $!{PASCAL_PLURAL}Resolver } from './$!{KEBAB_PLURAL}.resolver'

/**
 * ### $!{PASCAL_SINGLE} 모듈
 *
 * $!{PASCAL_SINGLE} 모듈입니다.
 *
 */
@Module({
	imports: [],
	providers: [$!{PASCAL_PLURAL}Service, $!{PASCAL_PLURAL}Resolver],
	exports: [$!{PASCAL_PLURAL}Service, $!{PASCAL_PLURAL}Resolver],
})
export class $!{PASCAL_PLURAL}Module { }
