import { ObjectType } from "@nestjs/graphql";
import PaginatedResponse from "@src/common/dto/responses";
import { $!{PASCAL_SINGLE} } from "@src/_gen/prisma-class/$!{SNAKE_SINGLE}";

@ObjectType()
export class Paginated$!{PASCAL_SINGLE}Response extends PaginatedResponse($!{PASCAL_SINGLE}) {}