import { BaseDTOProperty } from '@src/common/decorators/dto-types'
import { AssignableClass } from '@src/common/dto/responses'

export class $!{PASCAL_SINGLE}CreateDto {

  constructor(obj?: Partial<$!{PASCAL_SINGLE}CreateDto>) {
    super();
    Object.assign(this, obj);
  }
}
