import { ArgsType, Field, InputType, Int } from "@nestjs/graphql";

@InputType()
export class $!{PASCAL_SINGLE}CreateDto {
  constructor(obj?: Partial<$!{PASCAL_SINGLE}CreateDto>) {
    Object.assign(this, obj);
  }
}
