import { BaseDTOProperty } from '@src/common/decorators/dto-types'

export class $!{PASCAL_SINGLE}UpdateDto {

  constructor(obj?: Partial<$!{PASCAL_SINGLE}UpdateDto>) {
    super();
    Object.assign(this, obj);
  }

}
